<!DOCTYPE html>
<html>
    <body>
        <footer class="bg-dark text-white text-center py-3 mt-5" th:fragment="footer">
            <p>Síguenos en nuestras redes sociales:</p>
            <a href="https://facebook.com" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
            <p>Creado por Eider, Paola, Ander, Ibai y Maialen.</p>
        </footer>
    </body>
</html>