<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>

        <header class="bg-dark text-white text-center py-4" th:fragment="header">
            <img src="/img/LOGO.png" alt="Outside the Books Logo" class="logo mb-3">
            <h1>Outside the Books</h1>
        </header>

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4a596d;" th:fragment="nav">
            <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 5px;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand order-1" href="index.html">Menu</a>
            <div class="collapse navbar-collapse order-2" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reciclaje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tecnología</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Limpieza del hogar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cocinar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Otros</a>
                    </li>
                </ul>
            </div>

            <div th:if="${usuario != null}" class="ml-auto order-3">
                <a class="nav-link text-white" th:href="@{/usuario/verFavoritos/2}"><i class="bi bi-heart-fill h4"></i></a>
                <p>Favs</p>
            </div>
    
            <div th:if="${usuario != null}" class="ml-auto order-4">
                <a class="nav-link text-white" th:href="@{/usuario/ver/2}">Ver Perfil</a>
            </div>

            <div class="ml-auto order-3">
                <a class="nav-link text-white" href="login"><i class="fas fa-user-circle fa-2x"></i></a>
            </div>
        </nav>
    </body>
</html>

