<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header class="text-white text-center py-4" th:fragment="header">
        <h1>Outside the Books</h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark" th:fragment="nav">
        <!-- Botón del menú desplegable -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Logo alineado al centro -->
        <a class="navbar-brand mx-auto" href="/">
            <img src="/img/LOGO.png" alt="Outside the Books Logo" class="logo-navbar">
        </a>

        <!-- Ítems del navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categoria/view/2}"><i class="fa-solid fa-seedling"></i>ECOLOGÍA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categoria/view/3}"><i class="fa-solid fa-mobile-screen-button"></i>TECNOLOGÍA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categoria/view/4}"><i class="fa-solid fa-school"></i>EDUCACCIÓN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categoria/view/1}"><i class="fa-solid fa-heart-pulse"></i>SALUD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categoria/view}"><i class="fa-solid fa-ellipsis"></i>MÁS CATEGORÍAS</a>
                </li>
                
                <!-- Elementos de la derecha dentro del menú desplegable en pantallas pequeñas -->
                <li class="nav-item dropdown d-lg-none">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        es
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
                        <a class="dropdown-item" href="#" data-lang="eng">Inglés</a>
                        <a class="dropdown-item" href="#" data-lang="es">Español</a>
                        <a class="dropdown-item" href="#" data-lang="eus">Euskara</a>
                    </div>
                </li>
                <li class="nav-item d-lg-none">
                    <a th:if="${#session == null or #session.getAttribute('email') == null}" class="nav-link text-white" th:href="@{/login}">
                        <i class="fa-solid fa-circle-user login-icon"></i> Iniciar sesión
                    </a>
                </li>
                <li class="nav-item dropdown d-lg-none" th:if="${#session != null and #session.getAttribute('email') != null}">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-user user-icon"></i> Perfil
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" th:href="@{'/usuario/view/' + ${#session.getAttribute('userId')}}">Ver Perfil</a>
                        <a class="dropdown-item" th:href="@{'/listaDeFavoritos'}" >Ver Lista de Favoritos</a>
                        <a class="dropdown-item" th:if="${#session != null and #session.getAttribute('admin') == true}" th:href="@{/administrador}">Acciones de adminsitrador</a>
                        <a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a>
                    </div>
                </li>
            </ul>

            <!-- Elementos de la derecha para pantallas grandes -->
            <ul class="navbar-nav ml-auto d-none d-lg-flex">
                
                <li class="nav-item" th:if="${#session != null and #session.getAttribute('email') != null}">
                    <a class="nav-link text-white ml-3" th:href="@{/articulo/create}">
                        <i class="fa-solid fa-plus plus-icon"></i>
                    </a>
                </li>                
                
                <li class="nav-item dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdownLarge" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        es
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdownLarge">
                        <a class="dropdown-item" href="#" data-lang="eng">Inglés</a>
                        <a class="dropdown-item" href="#" data-lang="es">Español</a>
                        <a class="dropdown-item" href="#" data-lang="eus">Euskara</a>
                    </div>
                </li>

                <li class="nav-item" th:if="${#session == null or #session.getAttribute('email') == null}">
                    <a class="nav-link text-white ml-3" href="/login">
                        <i class="fa-solid fa-circle-user login-icon"></i>
                    </a>
                </li>

                <li class="nav-item dropdown ml-3" th:if="${#session != null and #session.getAttribute('email') != null}">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdownLarge" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-user user-icon"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdownLarge">
                        <a class="dropdown-item" th:href="@{'/usuario/view/' + ${#session.getAttribute('userId')}}">Ver Perfil</a>
                        <a class="dropdown-item" th:href="@{'/listaDeFavoritos/'}">Ver Lista de Favoritos</a>                            
                        <a class="dropdown-item" th:if="${#session != null and  #session.getAttribute('admin') == true}" th:href="@{/administrador}">Admin</a>
                        <a class="dropdown-item" th:href="@{'/solicitud/create'}">Solicitar Categoría</a>   
                        <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>
