<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout.html">
<head>
    <title>OTB - Título del Artículo</title>
</head>
<body>
    <div class="container mt-5" layout:fragment="contenido">
        <div class="row">
            <div class="col-md-6" th:each="categoria: ${categorias}">
                <div class="category-item">
                    <a th:href="@{'/categoria/view/' + ${categoria.categoriaId}}"> 
                        <i th:class="${categoria.icono} + ' category-icon'"
                        th:style="'color: ' + ${categoria.color}"></i>
                    </a>
                    <span class="title-categoria" th:text="${categoria.titulo}" 
                        >NombreCategoria</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
