<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout.html">
<head>
    <title>OTB - Crear Artículo</title>
</head>
<body>
    <div layout:fragment="contenido">
        <div class="container create-header">
            <h2 class="create-title text-center">Crear Categoría</h2>
        </div>
        <div class="container">
            <form th:action="@{/categoria/create}" method="post" th:object="${categoria}">
                <div class="form-group">
                    <label for="titulo">Título de la Categoría</label>
                    <input  type="text" 
                            class="form-control" 
                            id="titulo" 
                            th:field="*{titulo}" 
                            required 
                            placeholder= "Ingresa el título de la categoría">
                </div>
                <div class="form-group">
                    <label for="color">Color de la categoria</label>
                    <input  type="color" 
                            class="form-control" 
                            id="color" 
                            th:field="*{color}">
                </div>
                <div class="form-group">    
                            <label for="icono">Icono de la categoria</label>
                    <input  type="text" 
                            class="form-control" 
                            id="icono" 
                            th:field="*{icono}" 
                            required
                            placeholder= "Ingresa el icono de la categoría">
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary btn-custom">Finalizar y Compartir</button>
                    <a class="btn btn-secondary btn-cancel" th:href="@{/}">Cancelar</a>
                </div>
            </form> 
        </div>
    </div>
</body>
</html>