<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outside the Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="bg-dark text-white text-center py-4">
        <img src="img/LOGO.png" alt="Outside the Books Logo" class="logo mb-3">
        <h1>Outside the Books</h1>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4a596d;">
            <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 5px;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand order-1" href="index.html">Menu</a>
            <div class="collapse navbar-collapse order-2" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="tema.html?tema=Reciclaje">Reciclaje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tecnología</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Limpieza del hogar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cocinar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Otros</a>
                    </li>
                </ul>
            </div>
            
            <div th:if="${usuario != null}" class="ml-auto order-3">
                <a class="nav-link text-white" th:href="@{/usuario/verFavoritos/2}"><i class="bi bi-heart-fill h4"></i></a>
                <p>Favs</p>
            </div>
    
            <div th:if="${usuario != null}" class="ml-auto order-4">
                <a class="nav-link text-white" th:href="@{/usuario/ver/2}">Ver Perfil</a>
            </div>
    
            <div class="ml-auto order-5">   
                <a class="nav-link text-white" th:href="@{/login}"><i class="fas fa-user-circle fa-2x"></i></a>
            </div>
        </nav>
    </header>

    

    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center order-md-2">
                <h2 class="mb-4">¡Bienvenidos a Outside the Books! Descubre el conocimiento vital que va más allá de las páginas.</h2>
            </div>
            <div class="col-md-6 text-center order-md-1">
                <!-- Reemplaza el enlace de abajo con un GIF o video real -->
                <img src="https://media.giphy.com/media/3o6Zt481isNVuQI1l6/giphy.gif" class="img-fluid rounded" alt="Inspirational GIF">
            </div>
        </div>

    </div>
    <footer class="bg-dark text-white text-center py-3 mt-5">
        <p>Síguenos en nuestras redes sociales:</p>
        <a href="https://facebook.com" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
        <p>Creado por Eider, Paola, Ander, Ibai y Maialen.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous">
	</script>

</body>
</html>










