<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout.html">
<head>
    <title>OTB</title>
</head>
<body>    
    <div layout:fragment="contenido">
        <div class="container mt-3">
            <h2 class="text-center">Lista de Favoritos</h2>
        </div>
    
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-4" th:each="articulo: ${favoritos}">
                    <div class="card">
                        <form th:action="@{'/listaDeFavoritos/delete/' + ${articulo.articuloId}}" method="post">
                            <button type="submit">
                            <i class="fas fa-heart heart-icon"></i>
                            </button>
                        </form>
                        <img th:src="${articulo.src_img}" class="card-img-top" th:alt="${articulo.alt_img}">
                        <div class="card-body">
                            <a th:href="@{'/articulo/view/' + ${articulo.articuloId}}">
                                <h5 class="card-title" th:text="${articulo.titulo}">Título del Artículo</h5>
                            </a>
                            <p class="card-text" th:text="${articulo.usuarios} + ' ' + ${articulo.usuarios} + ' - ' +${articulo.fecha_publ}">
                                Autor - Fecha</p>
                            <p class="card-text"><span class="star-icon">&#9733;</span> <span class="badge badge-info">3/5</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
