<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout.html">
<head>
    <title>OTB - Solicitar Categoría</title>
    <style>
        .create-article-header {
            margin-block-start: 20px;
            margin-block-end: 20px;
        }
        .create-article-title {
            font-size: 2.5rem;
            color: #4a596d;
        }
        .form-group label {
            font-weight: bold;
        }
        .btn-custom {
            background-color: #4a596d;
            border-color: #4a596d;
        }
        #btn-cancel:hover{
            background-color: #d14747;
        }
    </style>
</head>
<body>
    <div layout:fragment="contenido">
        <div class="container create-article-header">
            <h2 class="create-article-title text-center">Solicitar Nueva Categoría</h2>
        </div>
        <div class="container">
            <form th:action="@{/categoria/solicitud}" method="post" th:object=${solicitudCategoria}>
                <div class="form-group">
                    <label for="titulo">Título de la Categoría</label>
                    <input  type="text" 
                            class="form-control" 
                            id="titulo" 
                            th:field="*{titulo}" 
                            required autofocus="autofocus"
                            placeholder= "Ingresa el título de la categoría">
                </div>
                <div class="form-group">
                    <label for="justificacion">Justificación</label>
                    <textarea class="form-control" id="justificacion" th:field="*{justificacion}" rows="5" placeholder="Escribe por qué quieres añadir esta categoría"></textarea>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary btn-custom">Enviar Solicitud</button>
                    <button type="button" class="btn btn-secondary" id="btn-cancel">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
