<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout.html">
<head>
    <title>OTB - Registrarse</title>
</head>
<body>
    <div layout:fragment="contenido">
        <div class="container">
            <div class="card mx-auto" style="max-inline-size: 400px; margin-block-end: 20px; margin-block-start: 40px;">
                <div class="card-body text-center">
                    <i class="fas fa-user-plus fa-3x mb-3"></i>
                    <h5 class="card-title">Editar Usuario</h5>
                    <form th:action="@{'/usuario/edit/' + ${usuario.id}}" method="post" th:object="${usuario}">
                        <div class="form-group">
                            <label class="control-label" for="nombre">Nombre : </label> 
                            <input id="nombre" type="text" class="form-control" th:field="*{nombre}"
                                required autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="apellido">Apellido : </label> <input
                                id="apellido" class="form-control" th:field="*{apellido}"
                                required autofocus="autofocus">
                        </div>

                        <div class="form-group">
                            <label for="descripcion">Descripcion :</label>
                            <textarea class="form-control" id="descripcion" th:field="*{descripcion}" rows="10" placeholder="Escribe tu descripcion"></textarea>

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="img_src">URL de imagen de perfil: </label> 
                            <input id="img_src" type="url" class="form-control" th:field="*{img_src}"
                                required autofocus="autofocus">
                        </div>

                        <button type="submit" class="btn btn-primary btn-block" style="background-color: #4a596d;">Editar Usuario</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

