:root{
    --azul_oscuro: #343a40;
    --azul: #4a596d;
    --blanco_fondo: #f8f9fa;
    --rojo: #cd3131;
    --gris: #6c757d;
    --blanco_border: #ddd;
    --block_fondo: #e8e8e8;
}
body {
    background-color: var(--blanco_fondo);
}

/*HEADER*/
header {
    background: var(--azul); 
    color: white;
    padding: 3rem 0; 
}
header h1 {
    margin: 0;
    font-size: 2rem;
}
.giphy-embed {
    border: 0; /* Remover el borde del iframe */
}

/*FOOTER*/
footer {
    background: var(--azul_oscuro);
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

/*TITULOS*/
.title-admin, .title-solicitud {
    color: var(--azul);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-style: italic; 
    font-size: 1.5em;
}
.title-articulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}
.title-categoria {
    font-size: 1.5em;
    font-style: italic;
}
.title-categoria-grande{
    font-style: italic;
    text-align: center;
}
.create-title {
    font-size: 2.5rem;
    color: var(--azul);
}
.card-title{
    color: var(--azul_oscuro);
}

/*BOTONES*/
.btn-primary {
    background-color: var(--azul);
    border-color: var(--azul);
}
.btn-custom, .btn-block { /*admin/crear art*/
    background-color: var(--azul);
    border-color: var(--azul);
}
.btn-trash { 
    color: var(--rojo);
    cursor: pointer;
    background: none; 
    border: none;
}
.btn-cancel{
    background-color: var(--rojo);
    border-color: var(--rojo);
}
.btn-cancel:hover{
    background-color: red;
    border-color: red;
}

/*ICONOS*/
.login-icon {
    font-size: 10rem; 
    position: relative;
    top: -3px; 
}
.plus-icon{
    top: 5px;
}
.star-icon {
    color: var(--azul);
}
.star-icon-valoracion {
    font-size: 25px; 
    margin-right: 2px; 
    color: gold; 
}
.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--rojo);
    font-size: 1.5rem;
    background:none; 
    border:none;
    padding:0; 
    margin:0;
}
.category-icon {
    font-size: 2em;
    margin-right: 10px;
}
.avanzado-icon, .edit-icon {
    color: var(--azul_oscuro);
    font-size: 1.5rem;
    cursor: pointer;
}
.edit-icon {
    position: absolute;
    right: 20px;
    top: 180px;
}

/*LOGIN - REGISTRO - EDIT*/
.login, .registro, .editar{
    max-inline-size: 400px; 
    margin-block-end: 20px; 
    margin-block-start: 40px;
}

/*TABLAS ADMIN - SOLICITUDES*/
.table th, .table td {
    text-align: center;
    vertical-align: middle;
}
.table th {
    white-space: nowrap;
}
.table .icon-column {
    width: 50px;
}
.icon-center {  
    color: var(--azul_oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*USUARIO*/
.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.profile-info {
    margin-left: 20px;
}
.profile-name {
    font-size: 2rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.username {
    font-size: 1.2rem;
}
.article-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.article-count {
    font-size: 1.2rem;
}
.rating {
    font-size: 1.2rem;
}
.bio {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.article-list .card {
    width: 48%;
    margin-right: 2%;
    margin-bottom: 20px;
    float: left;
}
.article-title {
    font-style: italic; 
}
.rating-trash-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*TEMA*/

.category-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*CATEGORIAS*/
.category-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid var(--blanco_border);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
}
.category-item:hover{
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}

/*CARD ARTICULO*/
.row {
    margin-top: 20px;
}
.badge-info {
    background-color: var(--azul);
}
.card {
    position: relative;
    width: 100%;
    height: 100%;
}
.card-img-top{
    
    height: 180px;
    position:block;
}
.card-body {
    background-color: var(--block_fondo); 
}

/*ARTICULO VIEW*/
.article-header {
    margin-top: 20px;
    margin-bottom: 20px;
}
.article-content {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.article-meta {
    font-size: 1rem;
    color: var(--gris);
}
.article-container {
    margin-top: 20px;
}
.article-meta-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article-meta-container {
    display: flex;
    flex-direction: column;
    
}
.badge-info-articulo {
    font-size: 15px;
}
.star-container {
    display: flex;
    align-items: left;
    margin-left: 0;
}
.star-icon-valoracion:first-child {
    margin-left: 5px; 
}

/*COMENTARIOS*/
.comment-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid var(--blanco_border);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}
.comment {
    flex: 1;
}
.comment-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-text {
    flex: 1;
    margin-right: 10px;
}


/*CREAR ARTICULO-CATEGORIA-SOLICITUD*/
.create-header {
    margin-block-start: 20px;
    margin-block-end: 20px;
}
.form-group label {
    font-weight: bold;
}

/* NAVEGADOR */
.navbar {
    font-size: 1.2rem;
    background-color: var(--azul_oscuro); 
}
.navbar-nav:first-child {
    margin-left: 20px;
}
.navbar-brand .logo-navbar {
    width: 50px;
    height: 50px;
    position: relative;
    left: -1.5rem;
    transform: none;
}
.nav-link {
    padding: 0.75rem 1.25rem;
    display: flex;
    align-items: center;
}
.nav-link i {
    margin-right: 0.5rem;
    font-size: 1.2rem; 
}
.nav-item .dropdown-toggle {
    padding: 0;
}

/* Estilos predeterminados para pantallas pequeñas */
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.navbar-nav .dropdown-item {
    display: flex;
    align-items: center;
}
.d-lg-none .nav-link {
    padding: 0.75rem 1rem;
}
.navbar-nav .nav-link {
    padding-left: 1.5rem; 
}
.article-list .card {
    width: 100%;
    float: none;
}

/* Estilos para pantallas grandes */
@media (min-width: 767px) {
    .navbar-nav:first-child {
        margin-left: 20px;
    }
    .navbar-brand .logo-navbar {
        left: 0;
    }
    .navbar-nav .nav-link {
        padding-left: 0;
    }
}
@media (min-width: 992px) {
    
    .titulo-articulo {
        align-self: flex-start;
    }
    .article-meta-container {
        margin-top: 75px;
    }   
}